* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "work sans", sans-serif;
}

main{
    background-image: url(./assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position-y: 2px;
    /* background-position-x: 25px; */
    height: 30rem;
    width: 23rem;
}

section:nth-child(2) {
    position: relative;
    top: -250px;
    /* left: 25px; */
    height: 50rem;
    width: 370px;
    background-color: hsl(275, 100%, 97%)
}

section:nth-child(3) {
    position: absolute;
    top: 130px;
    /* left: 45px; */
    height: 40rem;
    width: 340px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
}

img{
    position: relative;
    top: 20px;
    left: 15px;
    height: 20px;
}

h1{
    position: relative;
    top: -8px;
    left: 55px;
    font-weight: 600;
}

.accordion {
    background-color:hsl(0, 0%, 100%);
    color: hsl(292, 42%, 14%);
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    inline-size: 280px;
    margin-top: 0
}

.accordion:hover {
    color: hsl(292, 16%, 49%);
    cursor: pointer;
}

.active .accordion:hover {
    color: hsl(292, 42%, 14%);
 }
 
 .accordion:hover {
     color: hsl(292, 16%, 49%);
     cursor: pointer;   
 }
 
 .accordion:after {
     content: url(./assets/images/icon-plus.svg);
     font-weight: bold;
     float: right;
     margin-top: -35px;
     position: absolute;
     left: 280px;
 }
 
 .active:after {
     content: url(./assets/images/icon-minus.svg);
 }
 
 .panel {
     padding: 0 18px;
     display: none;
     background-color: white;
     overflow: hidden;
     outline: 0; 
     font-size: 16px;
     font-weight: 400;
     color: hsl(292, 16%, 49%);
     inline-size: 350px
 }
 
 hr {
     width: 300px;
     margin-top: 20px;
     margin-left: 20px;
     color: hsl(275, 100%, 97%);
 }

 .attribution {
    position: absolute;
    top: 1050px;
 }
 

 @media screen and (min-width: 375px){
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        font-family: "work sans", sans-serif;
    }
    
    main{
        background-image: url(./assets/images/background-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-position-y: 2px;
        /* background-position-x: 25px; */
        height: 30rem;
        width: 23rem;
    }
    
    section:nth-child(2) {
        position: relative;
        top: -250px;
        /* left: 25px; */
        height: 30rem;
        width: 370px;
        background-color: hsl(275, 100%, 97%)
    }
    
    section:nth-child(3) {
        position: absolute;
        top: 130px;
        /* left: 45px; */
        height: 28rem;
        width: 340px;
        border: 2px solid hsl(0, 0%, 100%);
        border-radius: 8px;
        background-color: hsl(0, 0%, 100%);
    }
    
    img{
        position: relative;
        top: 20px;
        left: 15px;
        height: 20px;
    }
    
    h1{
        position: relative;
        top: -8px;
        left: 55px;
        font-weight: 600;
    }
    
    .accordion {
        background-color:hsl(0, 0%, 100%);
        color: hsl(292, 42%, 14%);
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        inline-size: 280px;
        margin-top: 0
    }
    
    .accordion:hover {
        color: hsl(292, 16%, 49%);
        cursor: pointer;
    }
    
    .active .accordion:hover {
        color: hsl(292, 42%, 14%);
     }
     
     .accordion:hover {
         color: hsl(292, 16%, 49%);
         cursor: pointer;   
     }
     
     .accordion:after {
         content: url(./assets/images/icon-plus.svg);
         font-weight: bold;
         float: right;
         margin-top: -35px;
         position: absolute;
         left: 280px;
     }
     
     .active:after {
         content: url(./assets/images/icon-minus.svg);
     }
     
     .panel {
         padding: 0 18px;
         display: none;
         background-color: white;
         overflow: hidden;
         outline: 0; 
         font-size: 16px;
         font-weight: 400;
         color: hsl(292, 16%, 49%);
         inline-size: 350px
     }
     
     hr {
         width: 300px;
         margin-top: 20px;
         margin-left: 20px;
         color: hsl(275, 100%, 97%);
     }
    
     .attribution {
        position: absolute;
        top: 1050px;
     }
 }

 @media screen and (min-width: 1440px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        font-family: "work sans", sans-serif;
    }
    
    main{
        background-image: url(./assets/images/background-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position: 0 5px;
        background-position-x: 80px;
        /* height: 80rem; */
        width: 80rem;
    }

    section:nth-child(2) {
        position: relative;
        top: -155px;
        left: 40px;
        height: 25rem;
        width: 75rem;
        background-color: hsl(275, 100%, 97%)
    }

    section:nth-child(3){
        position: absolute;
        top: 150px;
        left: 500px;
        height: 450px;
        width: 600px;
        border: 2px solid hsl(0, 0%, 100%);
        border-radius: 8px;
        background-color: hsl(0, 0%, 100%);
    }

    img{
        position: relative;
        top: 25px;
        left: 15px;
        height: 20px;
    }
    
    h1{
        position: relative;
        top: -2px;
        left: 55px;
        font-family: "work sans", sans-serif;
        font-weight: 700;
    }
    
    .accordion {
        background-color:hsl(0, 0%, 100%);
        color: hsl(292, 42%, 14%);
        padding: 20px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        /* inline-size: 280px; */
    }
    
    .active .accordion:hover {
       color: hsl(292, 42%, 14%);
    }
    
    .accordion:hover {
        color: hsl(292, 16%, 49%);
        cursor: pointer;   
    }
    
    .accordion:after {
        content: url(./assets/images/icon-plus.svg);
        font-weight: bold;
        float: right;
        margin-top: -23px;
        position: absolute;
        left: 540px;
    }
    
    .active:after {
        content: url(./assets/images/icon-minus.svg);
    }
    
    .panel {
        padding: 0 30px;
        display: none;
        background-color: white;
        overflow: hidden;
        outline: 0; 
        font-size: 16px;
        font-weight: 400;
        color: hsl(292, 16%, 49%);
        inline-size: 560px;
    }
    
    hr {
        width: 550px;
        margin-top: 20px;
        margin-left: 20px;
        color: hsl(275, 100%, 97%);
    }
 }
